@gray-50: #F9FAFB;
@gray-100: #f2f4f7;
@gray-200: #eaecf0;
@gray-300: #d0d5dd;
@gray-400: #98a2b3;
@gray-500: #667085;
@gray-600: #475467;
@gray-700: #344054;
@gray-900: #101828;
@neutral-3: #EFEFEF;
@neutral-4: #6f767e;
@neutral-6: #272B30;
@neutral-7: #1A1D1F;
@primary-25: #F7FBFF;
@primary-50: #F1F9FF;
@primary-200: #9FD3FD;
@primary-300: #9FD3FD;
@primary-600: #2699FB;
@primary-700: #1F87F4;
@primary-800: #1875ED;
@primary-900: #093384;
@green: #4bb227;
@white: #ffffff;
@primary: #1875ED;
@danger: #F04438;
@success: #027a48;
@secondary: @green;

@text-main: @gray-900;
@link-color: @primary-700;
